<a href="https://colab.research.google.com/github/jnlinao/NLP/blob/main/Wk1_Regular_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re
import pandas as pd

In [ ]:
#Wrapper function to combine the true and false cases to create a dataframe and call the regex function
def match(pattern, true_cases, false_cases):
  return match_dataframe(pattern, get_dataframe(true_cases, false_cases))

#Use regex (re) to perform the predictions 
def match_dataframe(pattern, data):
  data['Predicted'] = data['Value'].apply(lambda x: re.match(pattern, x) is not None)
  data['Correct'] = data.apply(lambda row: "✅" if row['Label'] == row['Predicted'] else "❌", axis=1)
  print("Accuracy: ", data[data.Correct == "✅"].count()["Value"] / data.count()["Value"])
  return data

#Add the actuals labels to the dataframe  
def get_dataframe(true_cases, false_cases):
  data1 = pd.DataFrame({'Value' : true_cases})
  data1['Label'] = True
  data2 = pd.DataFrame({'Value' : false_cases})
  data2['Label'] = False
  return pd.concat([data1, data2]).reset_index()

In [ ]:
# phone numbers
true_cases = [
  "555-222-3311",
  "(555)222-3311",
  "1-555-222-3311",  
]

false_cases = [
  "55-222-3311",
  "555-222-33311",
  "5555-222-3311",
  "5-222-3311",
  "(55)(52)(22)(33)(11)",
  "5552-2233-11",
  "1-080-222-4563"
]

#Creating the pattern for regular expression
pattern  = r'(((1-)?[1-9][0-9]{2}-)|\([1-9][0-9]{2}\))[0-9]{3}-[0-9]{4}\b'
match(pattern, true_cases, false_cases)

Accuracy:  1.0

   index                 Value  Label  Predicted Correct
0      0          555-222-3311   True       True       ✅
1      1         (555)222-3311   True       True       ✅
2      2        1-555-222-3311   True       True       ✅
3      0           55-222-3311  False      False       ✅
4      1         555-222-33311  False      False       ✅
5      2         5555-222-3311  False      False       ✅
6      3            5-222-3311  False      False       ✅
7      4  (55)(52)(22)(33)(11)  False      False       ✅
8      5          5552-2233-11  False      False       ✅
9      6        1-080-222-4563  False      False       ✅

In [ ]:
#Time
true_cases = [
  "6:10",
  "11:37",
  "6:00AM",
  "9:43 AM",
  "10:45 PM",
  "5:55 p.m.",
  "4:30 a.m."
]

false_cases = [
  "6.10",
  "0:0",
  "13:1",
  "6:123",
  "25:12 AM"
]

pattern = r'\d+:\d+'

match(pattern, true_cases, false_cases)

In [ ]:
#Dates
true_cases = [
  "01FEB17",
  "3MAR2017",
  "September 24",
  "05-Mar-2015",
  "19 Feb 2015",
  "01-02-2014"
]

false_cases = [
  "43MAR17",
  "3AUG123", 
  "43-45-2015",
  "02ABCD17",
  "ABCD 31"
]

match(pattern, true_cases, false_cases)

In [ ]:
# address
true_cases = [
  "123 Binham st, Irvine CA 92617",
  "123 Binham Street, Irvine CA 92617",
  "123 North Binham Street, Irvine CA 92617",
  "123 North Binham Street, Irvine California 92617"
  "123 Binham st, Apt 2, Irvine CA 92617-3435"
]
false_cases = [
  "123 Binham st, Irvine CA 92617-343",
  "123 Binham st, Irvine CA 9267",
  "123 Binham st, Irvine"
]

match(pattern, true_cases, false_cases)